# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\pigo9\OneDrive\UAL\Ano2Semestre1\POO\projetoBatalhaNaval\batalhaNaval\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
